<h4><%= link_to t('forem.forum.forums'), forem.forums_path %> &raquo; <%= link_to forem_emojify(topic.forum.title), [forem, topic.forum] %> &raquo; <%= forem_emojify(topic.subject) %></h4>

<table border="0">
  <tr>
    <td>
      <div class="vote">
        <% his_own_topic = forem_user == topic.user %>
        <% unless his_own_topic %>
          <a class="vote-up-off <%= forem_user.voted_for?(topic) ? 'vote-up-on' : '' %>"
            data-forum-id="<%= topic.forum.to_param %>"
            data-topic-id="<%= topic.to_param %>">up vote</a>

          <span class="vote-count-post"><%= topic.plusminus %></span>

          <a class="vote-down-off <%= forem_user.voted_against?(topic) ? 'vote-down-on' : '' %>"
            data-forum-id="<%= topic.forum.to_param %>"
            data-topic-id="<%= topic.to_param %>">down vote</a>
        <% end %>
      </div>
    </td>
    <td>
      <h4><%= topic.subject %></h4>
    </td>
  </tr>
</table>

<div class="btn-group">
<% if forem_admin? %>
  <%= link_to forem.edit_admin_topic_path(topic), :class => 'btn' do %>
    <i class="icon-edit"></i>
    <%= t('forem.topic.links.edit') %>
  <% end %>
<% end %>
