<div id='topic' class='<%= 'un' unless @topic.locked? %>locked'>
  <%= render :partial => 'forem/topics/head', :locals => { :topic => @topic } %>

    <% if @topic.can_be_replied_to? && can?(:reply, @topic) %>
      <%= link_to forem.new_topic_post_path(@topic), :class => 'btn' do %>
        <i class="icon-envelope"></i>
        <%= t(".reply") %>
      <% end %>
    <% end %>
    <% if @topic.user == forem_user || forem_admin? %>
      <%= link_to t(".delete"), forem.forum_topic_path(@forum, @topic), :method => :delete, :confirm => t("are_you_sure"), :class => 'btn btn-danger' %>
    <% end %>

    <% if forem_user %>
      <% if !@topic.subscriber?(forem_user.id) %>
        <%= link_to t(".subscribe"), forem.subscribe_forum_topic_path(@forum, @topic), :class => 'btn' %>
      <% else %>
        <%= link_to t(".unsubscribe"), forem.unsubscribe_forum_topic_path(@forum, @topic), :class => 'btn' %>
      <% end %>
    <% end %>

  </div>

  <% if forem_admin? %>
    <!--
    <br>
    <div class="btn-group">
      <%= link_to forem.toggle_hide_admin_topic_path(@topic), :method => :put, :class => 'btn' do %>
        <% if @topic.hidden %>
          <i class="icon-eye-open"></i>
        <% else %>
          <i class="icon-eye-close"></i>
        <% end %>

        <%= t(".hide.#{@topic.hidden}") %>
      <% end %>

      <%= link_to forem.toggle_lock_admin_topic_path(@topic), :method => :put, :class => 'btn' do %>
        <i class="icon-lock"></i>
        <%= t(".lock.#{@topic.locked}") %>
      <% end %>

      <%= link_to forem.toggle_pin_admin_topic_path(@topic), :method => :put, :class => 'btn' do %>
        <i class="icon-star"></i>
        <%= t(".pin.#{@topic.pinned}") %>
      <% end %>
    </div>
    -->
  <% end %>
  <br>

  <% if @topic.pending_review? %>
    <div class="moderation" id='topic_moderation'>
      <%= t(".pending_review") %>
      <% if forem_admin_or_moderator?(@topic.forum) %>
        <%= form_for @topic, :url => forem.moderate_forum_topic_path(@topic.forum, @topic), :method => :put do |f| %>
          <%= render "forem/moderation/options", :f => f %>
        <% end %>
      <% end %>
    </div>
  <% end %>

  <%= forem_pages_widget(@posts) %>

  <div id='posts'>
    <%= render :partial => "forem/posts/post", :collection => @posts %>
  </div>

  <%= forem_pages_widget(@posts) %>
</div>
