<% if can?(:read, forum) %>
  <tr class="forum <%= cycle("odd", "even") %>">
    <td>
      <%= link_to forem_emojify(forum.title), forem.forum_path(forum), :class => "title" %>
    </td>
    <td>
      <div class='description'><%= forem_emojify(forum.description) %></div>
      <%= t('forem.forums.index.last_post') -%>
      <span class='last_post'>
          <% if last_post = forum.last_post_for(forem_user) -%>
            <%= link_to(forem_emojify(last_post.topic.subject), forem.forum_topic_path(forum, last_post.topic)) -%> <%= t('by') %> <%= last_post.user %> <%= t('time_ago_in_words', :time => time_ago_in_words(last_post.created_at)) -%>
          <% else %>
            <%= t('forem.forums.index.none') -%>
          <% end %>
        </span>
    </td>
    <td class="topics-count"><%= pluralize(topics_count(forum), 'Topic') %></td>
    <td class="posts-count"><%= pluralize(posts_count(forum), 'Posts') %></td>
    <td class="views-count"><%= pluralize(forum.views_count, 'Views') %></td>
  </tr>
<% end %>
