<%= simple_form_for [forem, :admin, @topic] do |f| %>
  <div class="control-group">
    <%= f.input :subject, :input_html => {:class => 'input-xxlarge'} %>
  </div>

  <div class="control-group">
    <%= f.association :forum , :label => "Forum" %>
  </div>

  <div class="control-group">
    <%= f.label :locked %>
    <%= f.check_box :locked %>
  </div>

  <div class="control-group">
    <%= f.label :pinned %>
    <%= f.check_box :pinned %>
  </div>

  <div class="control-group">
    <%= f.label :hidden %>
    <%= f.check_box :hidden %>
  </div>

  <br />
  <%= f.submit @topic.persisted? ? 'Update Topic' : 'Create Topic', :class => 'btn btn-primary' %>
<% end %>
